<script type="text/javascript">
<% if logged_in? %>
window.currentUser = <%= render("api/users/currentUser.json.jbuilder", user: current_user).html_safe %>
<% end %>
window.logoUrl = "<%= image_url('VacantLogo333.svg') %>"
window.loadingGif = "<%= image_url('Eclipse.gif') %>"
</script>


<div id='root'></div>
