main {
  font-family: helvetica, sans-serif;
  // display: grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: white;
}

button {
  width: 32rem;
  padding: 1rem;
  border-radius: .2rem;
  margin-top: .5rem;
  margin-bottom: 0;
  height: 4rem;

  justify-content: center;
  background-color: #FF5A5F;
  color: white;
}

input:placeholder-shown {
  color: #aaa;
}

hr {
  width: 32rem;
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 1.5rem 0;
}

i[class*="i"] {
  color: #666666;
}
