.bookings-index {
  margin-top: 7rem;
  margin-left: 1.5rem;
  justify-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#no-bookings {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    filter: invert(80%);
    padding-right: 2rem;
  }
  a {
    margin-left: 2rem;
  }
  font-size: 2rem;
  color: rgb(175, 175, 175);
  align-self: center;
}

.booking-item {
  max-width: 30vw;
  min-width: 30vw;
  margin: 0 1rem 1rem 0;
}

.booking-item {
  li {
    list-style: none;
  }
}

.start-date-booking {
  font-size: .8rem;
  font-weight: bold;
  color: #33324a;
}

.status {
  font-size: .8rem;
  font-weight: bold;
  color: #385274;
  span {
    color: #555555;
  }
}
