$orange: #ffb800;


.login-errors {
  display: flex;
  flex-flow: row;
  width: 100%;
  border: 1px solid $orange;
  border-radius: .25rem;
  height: 3.2rem;
  margin-bottom: 1rem;

  i {
    background: $orange;
    height: 2rem;
    height: 100%;
    width: 4rem;
    font-size: 1.6rem;
    border-radius: .05rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    color: #ffa100;
    font-size: 1rem;
    margin: 1rem;
  }
}

.error-highlight {
  border: 1px solid #be1500;
}

.bday-error-highlight * select {
  border: 1px solid #be1500;
}

.clear-highlight select {
  border: 1px solid #d5d5d5;
}
.bday-errors{
  width: 30rem;
  p {
    color: #ff5252;
    font-size: .7rem;
    top: -.5rem;
    left: .6rem;
  }
}
.signup-errors{
  width: 30rem;
  p {
    color: #ff5252;
    font-size: .7rem;
    top: -1.5rem;
    left: .6rem;

  }
}

.errors-enter {
  opacity: 0.01;
}

.errors-enter.errors-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.errors-leave {
  opacity: 1;
}

.errors-leave.errors-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
