.greeting {
  grid-column: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.greeting * {
  margin-right: 2rem;
  margin-top: .5rem;
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  align-self: center;
  margin-top: 0;
}

.greeting a {
  margin-bottom: .2rem;
}
