header {
  width: 100vw;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 1fr;
  background: white;
  padding: 1rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  z-index: 150;
}

.main-logo {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  cursor: pointer;
}

.main-logo > img {
  object-fit: contain;
  width: 3rem;
}
