header {
  width: 100%;
  display: grid;
  position: fixed;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 1fr;
  background: white;
  padding: 1rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #eee;
  z-index: 3;
}

.main-logo {
  grid-row: 1;
  grid-column: 1;
  display: flex;

  cursor: pointer;
  // -webkit-filter: grayscale(100%) brightness(500%) brightness(50%);
  // filter: grayscale(100%) brightness(500%) brightness(50%);
}

.main-logo > img {
  object-fit: contain;
  width: 2.5rem;
}
