.modal {
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  font-size: 2.5rem;
  color: #bbb;
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}
