.ReactModalPortal > * {
    opacity: 0;
}

.ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}

.session-modal-bg {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  margin: 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
}

.session-modal {
  position: relative;
  display: block;
}

.settings-modal-bg {
  position: absolute;
  top: 0rem;
  right: 0;
  width: 21rem;
}

.settings-modal {
  width: 21rem;
  top: 0;
  right: 3rem;
  position: relative;
  box-sizing: border-box;

  .user-settings {
    position: absolute;
    padding-top: 5.55rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    color: #3e3e3e;
    li {
      padding: 1rem 1.8rem;
      border-bottom: 1px solid #e9e9e9;
      width: 21rem;
      box-sizing: border-box;
      background: white;
    }

    li:last-child {
      border-bottom: none;
    }
  }

}

.modal-close {
  font-size: 2.3rem;
  color: #bbb;
  position: absolute;
  top: .7rem;
  left: 1.5rem;
  cursor: pointer;
}

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
