.modal-overlay-dark {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 3rem;
}

.modal-close {
  font-size: 2.5rem;
  color: #bbb;
  position: absolute;
  top: .7rem;
  left: 1.5rem;
  cursor: pointer;
}

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
