.spot-rating {
  display: flex;
  justify-content: flex-start;
  font-size: .8rem;
  width: 4rem;
  align-items: baseline;
}

.spot-rating p {
  font-size: .7rem;
  padding: 0;
  padding-left: .25rem;
  letter-spacing: .06rem;
  font-weight: bold;
}
