.spot-rating {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  width: 4rem;
  align-items: center;
}

.spot-rating span {
  font-size: .6em;
  color: #545454;
  padding: 0;
  padding-left: .5em;
  letter-spacing: .06em;
  font-weight: bold;
}
