
body, div, form, input, button, p, section, article, main, header, footer, span, li, ul, a, h1, h2, h3, h4{
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: inherit;
  display: inherit;
  font-weight: inherit;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

a:active {
  color: inherit;
}
