.review-form {
  display: grid;
  grid-template-columns: 1fr 65vw 1fr;
}

.rating-header {
  grid-column: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  h1 {
    font-size: 5rem;
  }

  .star-radio{
  }

}

.review-category {
  grid-column: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
