// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review-item {
  color: #2e2e2e;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 0;
  border-bottom: 1px solid #e4e1e1;
}

.review-header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.review-author {
  font-weight: bolder;
}

.review-date {
  font-size: .8rem;
  font-weight: lighter;
}

#no-reviews {
  padding-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  img {
    height: 3rem;
    filter: invert(80%);
    padding-right: 1rem;
  }
  font-size: 1.5rem;
  color: rgb(175, 175, 175);
}
