.review-form {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 65vw 1fr;

  button {
    grid-column: 3;
    width: 10rem;
    align-self: flex-end;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}

.success {
  display: flex;
  flex-flow: row wrap;
  button {
    align-self: flex-start;
  }
}

#back-to-spot {
  background-color: #357890;
  a {
    color: white;
  }
}

.review-submit {
  display: flex;
  flex-flow: row nowrap;
}

.public-review {
  textarea {
    margin-top: 1rem;
    width: 36rem;
    height: 10rem;
    font-size: 1.4rem;
    padding: 1rem;
  }
}

.rating-header {
  grid-column: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  h1 {
    font-size: 4rem;
    color: #3b3b3b;
    font-weight: bolder;
  }
}


h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #464646;
}

.review-category {
  grid-column: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}


.first {
  margin-top: 4rem;
}
