// icons

//form
$input-border-color: #d5d5d5;
.login-form, .signup-form {
  font-size: 1.2rem;
  letter-spacing: .04rem;
  font-weight: lighter;
  background: white;
  width: 35rem;
  max-height: 80rem;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.loose p {
  font-size: .8rem;
}

.loose {
  width: 100%;
  flex-flow: column nowrap;
  align-content: flex-start;
  padding: 1rem 0 .4rem 0;
  color: #5b5b5b;
}

.session-form-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $input-border-color;
  border-radius: .2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: .2rem;
  margin-top: .5rem;
  margin-bottom: 0;
  height: 4rem;
}

.session-form-input i {
  margin-right: 1rem;
  font-size: 2rem;
}

.session-form-input > input {
  width: 30rem;
}

.session-form-birthday {
  width: 100%;
  box-sizing: border-box;
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  border: 1px solid $input-border-color;
  border-radius: .2rem;
}

.select {
  position: relative;
  margin: 0;
  align-self: center;
}

.select:after {
  content:"\f3d0";
  font-family: Ionicons;
  color: #666666;
  position: absolute;
  right: 1.2rem;
  top: 1.3rem;
}

#birth-month {
  width: 12rem
}

#birth-day {
  width: 8rem;
}

#birth-year {
  width: 10rem;
}

#i-email {
  margin-right: .8rem;
}

.demo-login { //button
  background-color: #2985C9;
}
.form-alternative {
  display: flex;
  justify-content: center;
}

.form-alternative > p {
  cursor: pointer;
}

.form-alternative > span {
  padding-right: .4rem;
}
