// icons

//form
.session-form {
  font-size: 1.2rem;
  letter-spacing: .04rem;
  font-weight: lighter;
  background: white;
  width: 35rem;
  max-height: 80rem;
  padding: 2rem;
  position: relative;
  justify-self: center;
}

.signup-inputs, .login-inputs {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.session-form form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.session-form h1 {
  margin-top: 1rem;
  justify-self: center;
}

.session-form hr, h1{
  justify-self: center;
}

.session-form p {
  font-size: .8rem;
}

.loose {
  align-self: flex-start;
  margin: .3rem;
  margin-left: .6rem;
}

.session-form a {
  margin-left: .8rem;
}

.session-form-input {
  width: 32rem;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: .2rem;
  margin: .5rem;
  align-items: center;
}

.session-form-birthday {
  width: 32rem;
  box-sizing: border-box;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .2rem;
}

.select {
  position: relative;
  margin: 0;
  align-self: center;
}

.select:after {
  content:"\f3d0";
  font-family: Ionicons;
  color: #666666;
  position: absolute;
  right: 1.2rem;
  top: 1.3rem;
}

#birth-month {
  width: 12rem
}

#birth-day {
  width: 8rem;
}

#birth-year {
  width: 10rem;
}

[disabled] {
  color: #aaa;
}

.session-form-input i {
  margin-right: 1rem;
  font-size: 2rem;
}

#i-email {
  margin-right: .9rem;
}

.session-form input:placeholder-shown {
  color: #aaa;
}

.session-form input {
  width: 28rem;
  padding: 1rem;
}

.session-form button {
  width: 32rem;
  padding: 1rem;
  justify-content: center;
  background-color: #FF5A5F;
  color: white;
  border-radius: .2rem;
  margin: .5rem;
  margin-bottom: 0;
  height: 4rem;
  justify-self: center;
}

button.demo-login {
  background-color: #2985C9;
}

.form-alternative {
  flex-flow: row nowrap;
  justify-content: center;
  display: inline-flex;
}
