.splash-page {
  background: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  // @media screen and (max-width: $break) {
  //
  // }
  @media screen and (max-width: $break-small) {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  div {
    display: flex;
    flex-flow: row nowrap;
    img {
      width: 8rem;
      margin-right: 0;
      margin-top: .5rem;
    }

  }

}

#splash-logo {
  font-size: 8rem;
  @media screen and (max-width: $break-tiny) {
    img {
      visibility: hidden;
    }
    span {
      margin-left: -6rem;
    }
  }
}

#splash-tag {
  font-size: 2rem;
  width: 30vw;
  margin-top: 1.7rem;
  margin-left: 2rem;
  @media screen and (max-width: $break-small) {
    margin-top: -1rem;
    align-self: flex-start;
    width: 80vw;
  }
}
