.spot-show {
  display: grid;
  grid-template-columns: 1fr 40vw 24rem 1fr;
  grid-template-rows: 75vh 3rem 1fr;
  grid-column-gap: 4rem;
}

.spot-show-image {
  grid-row: 1;
  grid-column: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.spot-show-image > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#spot-show-nav {
  grid-row: 2;
  grid-column: 2 / 3;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

#spot-show-nav > ul{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

#spot-show-nav > ul li{
  font-size: .95rem;
  white-space: nowrap;
}

#spot-show-nav > ul > li:not(:first-child) > a {
  // padding-left: 1rem;
}

.spot-show-details {
  grid-row: 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  grid-gap: .5rem;
}

.spot-show-details .list-bullet {
  font-size: .4rem;
  margin-top: .2rem;
}

.spot-show-title {
  font-size: 2.8rem;
  font-weight: bold;
  grid-row: 1;
  color: #2f2f2f;
  letter-spacing: .05rem;
  padding-top: .5rem;
}

.spot-show-subtitle {
  font-weight: lighter;
  font-size: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  letter-spacing: .03rem;
  color: #2f2f2f;
}

.spot-show-type-address {
  grid-row: 1;
}

.spot-host-name {
  grid-row: 2;
}

.list-bullet {
  color: #666666;
  padding: 0 .5rem;
}

.spot-ratings {
  grid-row: 4;
  grid-column: 2 / 3;
  .ratings-header {
    display: flex;
    flex-flow: row nowrap;
    font-weight: bolder;
    letter-spacing: .07rem;
    color: #696969;
    align-items: center;
    padding: 1rem;
    font-size: 1.3rem;
    margin-left: -1rem;
    .spot-rating {
      font-size: 1.8rem;
      margin-left: 1rem;
    }
  }
}

.spot-reviews {
  // border: 1px solid rgb(200, 255, 184);
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  grid-row: 5;
  grid-column: 2 / 3;
}
