#map-container {
  // height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.spots-map {
  // grid-column: 3 / 4;
  width: 32vw;
  position: fixed;
  right: .9rem;
  bottom: 0;
  top: 5.55rem;
  display: flex;
}

#map-container {

  .price-marker {
    position: relative;
    margin: auto;
  }

  .price-marker > div {
    font-size: 1.9rem;
    font-weight: bolder;
    letter-spacing: .18rem;
    color: #b9b9b9;
    position: absolute;
    top: 0;
    left: .85rem;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  #list-hover {
    color: #ffffff;
  }

  div[style*="box-shadow"] {
    // background: yellow !important;
    box-shadow: none !important;
  }

  div[style*="background-color: rgba(0, 0, 0, 0.2)"] {
    background-color: #1a1a1a !important;
  }

  div[style*="cursor: default"] {

    transform: scale(0.6) !important;
    // transform: translateX(2rem) !important;
    transform-origin: 3rem 5rem;
    // top: 20px;

    div[style*="opacity: 0.7"] {
      display: none;
    }

    div[style*="background-color: rgb(255, 255, 255)"] {
      background: #464646 !important;
    }


  }

  div[style*="overflow: auto"] {
    overflow: visible !important;
    height: 2rem !important;
    width: 2.8rem !important;
  }

  //pointer
  div[style*="border-top-width"] {
    transform: scaleY(0.5);
  }

  div[style*="solid transparent"] {
    transform: scaleY(0.5);
    border-top: 20px solid #1a1a1a !important;
    transform-origin: 0rem -0.1rem !important;
    // display: none;
  }

  div[class*="gm-style-iw"] {
    overflow: visible !important;
  }

  img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
  }

}
