.spot-show {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 60vw 2fr;
  grid-template-rows: 75vh 5vh 1fr;
  grid-gap: .8rem;
}

.spot-show-image {
  grid-row: 1;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.spot-show-image > img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#spot-show-nav {
  grid-row: 2;
  grid-column: 2 / 3;
  padding: 1rem 1rem 0 0;
  border-bottom: 1px solid #aaa;
}

#spot-show-nav > ul{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  list-style: none;
}

#spot-show-nav > ul li{
  font-size: .95rem;
  white-space: nowrap;
}

#spot-show-nav > ul > li:not(:first-child) > a {
  // padding-left: 1rem;
}

.spot-show-details {
  grid-row: 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
  grid-gap: .5rem;
}

.spot-show-details .list-bullet {
  font-size: .4rem;
  margin-top: .2rem;
}

.spot-show-title {
  font-size: 2.8rem;
  font-weight: bold;
  grid-row: 1;
  color: #2f2f2f;
  letter-spacing: .05rem;
}

.spot-show-subtitle {
  font-weight: lighter;
  font-size: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  letter-spacing: .03rem;
  color: #2f2f2f;
}

.spot-show-type-address {
  grid-row: 1;
}

.spot-host-name {
  grid-row: 2;
}

.list-bullet {
  color: #666666;
  padding: 0 .5rem;
}

.spot-reviews {
  border: 1px solid #eee;
  margin-top: 1rem;
  height: 200rem;
  display: flex;
  flex-flow: column nowrap;
  grid-row: 4;
  grid-column: 2 / 3;
}
