.fade-in-appear {
  opacity: 0.01;
  filter: blur(2px);
}

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  filter: blur(0px);
  transition: opacity 500ms ease-in, filter 500ms ease-in;
}

.fade-in-enter {
  opacity: 0.01;
}

.fade-in-enter.fade-in-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.img-transition {
  animation: 1s ease-in 0s 1 blurIn;
}

.hidden {
  visibility: hidden;
}

@keyframes blurIn {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
